@using AdministracionUniversitaria.ViewModels
@model MatriculaViewModel

@{
    ViewBag.Title = "MatriculacionesPage";
}

<h2 class="text-center">Matricular</h2>

<div class="text-center mt-4">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createMatriculaModal">
        Matricular
    </button>
</div>

<!-- Modal para crear matrícula -->
<div class="modal fade" id="createMatriculaModal" tabindex="-1" aria-labelledby="createMatriculaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="createMatriculaModalLabel">Matricular</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("CreateMatricula")
            </div>
        </div>
    </div>
</div>

<div class="table-responsive mt-4">
    <table class="table table-striped table-bordered text-center align-middle">
        <thead class="thead-dark">
            <tr>
                <th>Acciones</th>
                <th>Alumno</th>
                <th>Asignatura</th>
                <th>Fecha de Matriculación</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var matricula in Model.Matriculas)
            {
                <tr>
                    <td>
                        <div class="d-flex justify-content-center gap-2">
                            <button type="button" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editMatriculaModal-@matricula.IdMatricula">Editar</button>
                            @using (Html.BeginForm("DeleteMatricula", "Matriculacion", new { IdMatricula = matricula.IdMatricula }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                            }
                        </div>
                    </td>
                    <td>@matricula.Alumno</td>
                    <td>@matricula.Asignatura</td>
                    <td>@matricula.FechaMatricula.ToString("dd/MM/yyyy")</td>
                </tr>

                <!-- Edit Modal -->
                <div class="modal fade" id="editMatriculaModal-@matricula.IdMatricula" tabindex="-1" aria-labelledby="editMatriculaModalLabel-@matricula.IdMatricula" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header bg-primary text-white">
                                <h5 class="modal-title" id="editMatriculaModalLabel-@matricula.IdMatricula">Actualizar Matrícula</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                @Html.Partial("MatriculaDetail", new MatriculaViewModel
                                   {
                                       IdMatricula = matricula.IdMatricula,
                                       IdAlumno = matricula.IdAlumno,
                                       IdCarrera = matricula.IdCarrera,
                                       IdAsignaruta = matricula.IdAsignaruta,
                                       Alumnos = Model.Alumnos,
                                       Carreras = Model.Carreras,
                                       Asignaturas = Model.Asignaturas

                                   })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        // cargar asignaturas al cambiar de carrera en el dropdownlist

        // cuando cambie el dropdownlist de carreras usando change
        $(document).on('change', '#ddlCarreras', function () {
            // alamacenamos el id de la carrera seleccionada
            var idCarrera = $(this).val();
            // llamamos a la accion de obtener asignaturas
            console.log("ID CARRERA ---------> " + idCarrera);
            // pasandole el id de la carrera seleccionada usando ajax
            $.ajax({
                // url de la accion
                url: '@Url.Action("GetAsignaturas", "Matriculacion")',
                // tipo de peticion
                type: 'GET',
                // datos que le pasamos a la accion
                data: { idCarrera: idCarrera },
                // tipo de datos que esperamos recibir
                dataType: 'json',
                // si es correcta la peticion
                success: function (data) {
                    console.log("SUCCESS ------>");
                    console.log(data);
                    // almacenamos el dropdownlist de asignaturas
                    var ddlAsignatura = $('#ddlAsignatura');
                    // borramos el dropdownlist de asignaturas
                    ddlAsignatura.empty();
                    // añadimos un option al dropdownlist de asignaturas
                    ddlAsignatura.append('<option value ="">Seleccione una Asignatura</asignatura>');
                    // con un bucle recorremos los datos que nos ha devuelto la accion
                    $.each(data, function (index, row) {
                        // añadimos un option al dropdownlist de asignaturas
                        ddlAsignatura.append('<option value="' + row.Value + '">' + row.Text + '</option>');

                        console.log("ID ASIGNATURA ---------> " + row.Value);
                    });

                },
                error: function (xhr, status, error) {
                    console.error('Error al cargar las asignaturas: ' + error);
                }
            });

        });
    </script>
}
