@model AdministracionUniversitaria.ViewModels.AlumnoViewModel

@{
    ViewBag.Title = "Detalle del Alumno";
}

<h2>Detalle del Alumno</h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.Alumno_Foto" class="img-fluid rounded" alt="Foto del Alumno" />
        </div>
        <div class="col-md-8">
            <h3>@Model.NombreCompleto</h3>
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Alumno_Edad)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Alumno_Edad)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Alumno_FechaNacimiento)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Alumno_FechaNacimiento)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Alumno_FechaRegistro)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Alumno_FechaRegistro)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Alumno_Telefono_1)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Alumno_Telefono_1)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Alumno_Telefono_2)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Alumno_Telefono_2)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Alumno_Email)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Alumno_Email)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Alumno_DireccionCompleta)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Alumno_DireccionCompleta)</dd>
            </dl>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AlumnoId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary" })
</p>