@using AdministracionUniversitaria.ViewModels
@model AlumnoViewModel
@{
    ViewBag.Title = "AlumnosPage";
}

<h2 class="text-center">Alumnos</h2>

<div class="container mt-5">
    
    <div class="text-center mt-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createAlumnoModal">
            Añadir un Alumno
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createAlumnoModal" tabindex="-1" aria-labelledby="createAlumnoModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
           <div class="modal-content">
               <div class="modal-header bg-primary text-white">
                   <h5 class="modal-title" id="createAlumnoModalLabel">Añadir un Alumno</h5>
                   <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                   @Html.Partial("CreateAlumno")
               </div>
           </div>
       </div>
    </div>
    
</div>

<div class="table-responsive mt-4">
    <table class="table table-striped table-bordered text-center align-middle">
        <thead class="thead-dark">
            <tr>
                
                <th>Acciones</th>
                <th>Nombre Completo</th>
                <th>Edad</th>
                <th>Fecha de Nacimiento</th>
                <th>Dirección</th>
                <th>Teléfono 1</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alumno in Model.Alumnos)
            {
                <tr>
                    <td>
                        <div class="d-flex justify-content-center gap-2">
                            <button type="button" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editAlumnoModal-@alumno.Id">Editar</button>
                            @{
                                using (Html.BeginForm("DeleteAlumno", "Alumno", new { IdAlumno = alumno.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                                }
                            }
                        </div>
                    </td>

                    <td>@alumno.NombreCompleto</td>
                    <td>@alumno.Edad</td>
                    <td>@alumno.FechaNacimiento</td>
                    <td>@alumno.DireccionCompleta</td>
                    <td>@alumno.Telefono_1</td>
                    <td>@alumno.Email</td>
                </tr>

                <!-- Edit Modal -->
                <div class="modal fade" id="editAlumnoModal-@alumno.Id" tabindex="-1" aria-labelledby="editAlumnoModalLabel-@alumno.Id" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header bg-primary text-white">
                                <h5 class="modal-title" id="editAlumnoModalLabel-@alumno.Id">Editar Alumno</h5>
                                <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                @Html.Partial("AlumnoDetail", new AdministracionUniversitaria.ViewModels.AlumnoViewModel
                           {
                               Alumno_Nombre = alumno.Nombre,
                               Alumno_Apellido_1 = alumno.Apellido_1,
                               Alumno_Apellido_2 = alumno.Apellido_2,
                               Alumno_sexo = alumno.Sexo,
                               Alumno_Foto = alumno.Foto,
                               Alumno_FechaNacimiento = alumno.FechaNacimiento,
                               Alumno_Telefono_1 = alumno.Telefono_1,
                               Alumno_Telefono_2 = alumno.Telefono_2,
                               Alumno_Email = alumno.Email,
                               Alumno_Via = alumno.Via,
                               Alumno_Calle = alumno.Calle,
                               Alumno_Calle_2 = alumno.Calle_2,
                               Alumno_Numero = alumno.Numero,
                               Alumno_Escalera = alumno.Escalera,
                               Alumno_Piso = alumno.Piso,
                               Alumno_Puerta = alumno.Puerta,
                               Alumno_ComunidadAutonoma = alumno.ComunidadAutonoma,
                               Alumno_CodigoPostal = alumno.CodigoPostal
                           })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>


