@model AdministracionUniversitaria.ViewModels.CarreraViewModel

@{
    ViewBag.Title = "Crear Carrera";
}

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("CreateCarrera", "Carrera", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <!-- Nombre -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_Nombre, "Nombre", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Carrera_Nombre, new { @class = "form-control", @id = "txtCarreraNombre", @type = "text", placeholder = "Escriba el nombre de la carrera" })
                        @Html.ValidationMessageFor(m => m.Carrera_Nombre, "", new { @class = "text-danger" })
                    </div>

                    <!-- Duración -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_Duracion, "Duración", new { @class = "form-label" })
                        @Html.DropDownListFor(m => m.Carrera_Duracion, new SelectList(new List<string> { "1 año", "2 años", "3 años", "4 años", "5 años" }), "Seleccione la duración", new { @class = "form-select", @id = "ddlCarreraDuracion" })
                        @Html.ValidationMessageFor(m => m.Carrera_Duracion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <!-- Título -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_Titulo, "Título", new { @class = "form-label" })
                        @Html.DropDownListFor(m => m.Carrera_Titulo, new SelectList(new List<string> { "Ingeniero", "Licenciado", "Doctor", "Máster" }), "Seleccione el título", new { @class = "form-select", @id = "ddlCarreraTitulo" })
                        @Html.ValidationMessageFor(m => m.Carrera_Titulo, "", new { @class = "text-danger" })
                    </div>

                    <!-- Código -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_Codigo, "Código", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Carrera_Codigo, new { @class = "form-control", @id = "txtCarreraCodigo", @type = "text", placeholder = "Código de la carrera" })
                        @Html.ValidationMessageFor(m => m.Carrera_Codigo, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="row">
                        <!-- Tipo -->
                        <div class="form-group mb-4 col-6">
                            @Html.LabelFor(m => m.Carrera_Tipo, "Tipo", new { @class = "form-label" })
                            @Html.DropDownListFor(m => m.Carrera_Tipo, new SelectList(new List<string> { "Grado", "Máster", "Doctorado", "Licenciatura" }), "Seleccione el tipo de carrera", new { @class = "form-select", @id = "ddlCarreraTipo" })
                            @Html.ValidationMessageFor(m => m.Carrera_Tipo, "", new { @class = "text-danger" })
                        </div>

                        <!-- Modalidad -->
                        <div class="form-group mb-4 col-6">
                            @Html.LabelFor(m => m.Carrera_Modalidad, "Modalidad", new { @class = "form-label" })
                            @Html.DropDownListFor(m => m.Carrera_Modalidad, new SelectList(new List<string> { "Presencial", "Online", "Semipresencial" }), "Seleccione la modalidad", new { @class = "form-select", @id = "ddlCarreraModalidad" })
                            @Html.ValidationMessageFor(m => m.Carrera_Modalidad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <!-- Coste -->
                        <div class="form-group mb-4 col-6">
                            @Html.LabelFor(m => m.Carrera_Coste, "Coste", new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Carrera_Coste, new { @class = "form-control", @id = "txtCarreraCoste", @type = "number", placeholder = "Coste de la carrera" })
                            @Html.ValidationMessageFor(m => m.Carrera_Coste, "", new { @class = "text-danger" })
                        </div>
                 
                    </div>

                    <!-- Botón de Enviar -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fas fa-save"></i> Crear
                        </button>
                    </div>
            }
        </div>
    </div>
</div>
