@model AdministracionUniversitaria.ViewModels.CarreraViewModel

@{
    ViewBag.Title = "Crear Carrera";
}

<h2 class="text-center mb-4">Crear Carrera</h2>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("CreateCarrera", "Carrera", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <!-- Nombre -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_Nombre, "Nombre", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Carrera_Nombre, new { @class = "form-control", @id = "txtCarreraNombre", @type = "text", placeholder = "Escriba el nombre de la carrera" })
                        @Html.ValidationMessageFor(m => m.Carrera_Nombre, "", new { @class = "text-danger" })
                    </div>

                    <!-- Duración -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_Duracion, "Duración", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Carrera_Duracion, new { @class = "form-control", @id = "txtCarreraDuracion", @type = "text", placeholder = "Duración de la carrera" })
                        @Html.ValidationMessageFor(m => m.Carrera_Duracion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <!-- Título -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_Titulo, "Título", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Carrera_Titulo, new { @class = "form-control", @id = "txtCarreraTitulo", @type = "text", placeholder = "Título de la carrera" })
                        @Html.ValidationMessageFor(m => m.Carrera_Titulo, "", new { @class = "text-danger" })
                    </div>

                    <!-- Código -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_Codigo, "Código", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Carrera_Codigo, new { @class = "form-control", @id = "txtCarreraCodigo", @type = "text", placeholder = "Código de la carrera" })
                        @Html.ValidationMessageFor(m => m.Carrera_Codigo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <!-- Tipo -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_Tipo, "Tipo", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Carrera_Tipo, new { @class = "form-control", @id = "txtCarreraTipo", @type = "text", placeholder = "Tipo de carrera" })
                        @Html.ValidationMessageFor(m => m.Carrera_Tipo, "", new { @class = "text-danger" })
                    </div>

                    <!-- Modalidad -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_Modalidad, "Modalidad", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Carrera_Modalidad, new { @class = "form-control", @id = "txtCarreraModalidad", @type = "text", placeholder = "Modalidad de la carrera" })
                        @Html.ValidationMessageFor(m => m.Carrera_Modalidad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <!-- Coste -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_Coste, "Coste", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Carrera_Coste, new { @class = "form-control", @id = "txtCarreraCoste", @type = "number", placeholder = "Coste de la carrera" })
                        @Html.ValidationMessageFor(m => m.Carrera_Coste, "", new { @class = "text-danger" })
                    </div>

                    <!-- Número de Asignaturas -->
                    <div class="form-group mb-4 col-6">
                        @Html.LabelFor(m => m.Carrera_NumeroAsignaturas, "Número de Asignaturas", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Carrera_NumeroAsignaturas, new { @class = "form-control", @id = "txtCarreraNumeroAsignaturas", @type = "number", placeholder = "Número de asignaturas" })
                        @Html.ValidationMessageFor(m => m.Carrera_NumeroAsignaturas, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Botón de Enviar -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="fas fa-save"></i> Crear
                    </button>
                </div>
            }
        </div>
    </div>
</div>
